<div class="row">
  <div class="col">
    <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista...">
  </div>
</div>

<app-tarjetas [items]="artistas"></app-tarjetas>